<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- js -->
  <script th:src="@{/js/my_cart.js}" defer></script>
</head>
<body>

<div th:replace="~{./header :: headerFragment}"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/ogani/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>장바구니</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
            <tr>
              <th class="shoping__product">상품</th>
              <th>금액</th>
              <th>수량</th>
              <th>총합</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="item : ${cartItems}">-->
<!--              <td class="shoping__cart__item">-->
<!--                <img th:src="@{${item.image}}" alt="${item.name}">-->
<!--                <h5 th:text="${item.name}">Vegetable’s Package</h5>-->
<!--              </td>-->
<!--              <td class="shoping__cart__price">-->
<!--                <span th:text="${item.price}"> $55.00 </span>-->
<!--              </td>-->
<!--              <td class="shoping__cart__quantity">-->
<!--                <div class="quantity">-->
<!--                  <div class="pro-qty">-->
<!--                    <input type="text" th:value="${item.quantity}" />-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="shoping__cart__total">-->
<!--                <span th:text="${item.total}"> $110.00 </span>-->
<!--              </td>-->
<!--              <td class="shoping__cart__item__close">-->
<!--                <span class="fa fa-close" th:onclick="'removeItem(' + ${item.id} + ')'"></span>-->
<!--              </td>-->
<!--            </tr>-->
            <tr>
              <td class="shoping__cart__item">
                <img src="/images/ogani/cart/cart-1.jpg" alt="">
                <h5>Vegetable’s Package</h5>
              </td>
              <td class="shoping__cart__price">
                $55.00
              </td>
              <td class="shoping__cart__quantity">
                <div class="quantity">
                  <div class="pro-qty">
                    <input type="text" value="1">
                  </div>
                </div>
              </td>
              <td class="shoping__cart__total">
                $110.00
              </td>
              <td class="shoping__cart__item__close">
                <span class="fa fa-close"></span>
              </td>
            </tr>
            <tr>
              <td class="shoping__cart__item">
                <img src="/images/ogani/cart/cart-2.jpg" alt="">
                <h5>Fresh Garden Vegetable</h5>
              </td>
              <td class="shoping__cart__price">
                $39.00
              </td>
              <td class="shoping__cart__quantity">
                <div class="quantity">
                  <div class="pro-qty">
                    <input type="text" value="1">
                  </div>
                </div>
              </td>
              <td class="shoping__cart__total">
                $39.99
              </td>
              <td class="shoping__cart__item__close">
                <span class="fa fa-close"></span>
              </td>
            </tr>
            <tr>
              <td class="shoping__cart__item">
                <img src="/images/ogani/cart/cart-3.jpg" alt="">
                <h5>Organic Bananas</h5>
              </td>
              <td class="shoping__cart__price">
                $69.00
              </td>
              <td class="shoping__cart__quantity">
                <div class="quantity">
                  <div class="pro-qty">
                    <input type="text" value="1">
                  </div>
                </div>
              </td>
              <td class="shoping__cart__total">
                $69.99
              </td>
              <td class="shoping__cart__item__close">
                <span class="fa fa-close"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="#" class="primary-btn cart-btn">쇼핑 계속하기</a>
          <a href="/cart" class="primary-btn cart-btn cart-btn-right"><span class="fa fa-spinner fa-spin"></span>
            장바구니 업데이트</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>할인코드</h5>
            <form action="#">
              <input type="text" placeholder="할인코드를 입력해주세요.">
              <button type="submit" class="site-btn">쿠폰 적용</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5>장바구니 금액</h5>
          <ul>
            <li>합계 <span>$454.98</span></li>
            <li>최종금액 <span>$454.98</span></li>
          </ul>
          <a href="#" class="primary-btn">결제하기</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->
<div th:replace="~{./footer :: footerFragment}"></div>
</body>
</html>