<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Google Font -->
  <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}" rel="stylesheet">

  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Css Styles -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
<!--  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">-->
  <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
<!--  <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
  <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>ecommerce</title>

</head>
<body>

<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="./index.html"><img src="/images/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul style="justify-content: center; display: flex;">
            <li><a href="/">Home</a></li>
            <li><a href="./shop-grid.html">전체상품</a></li>
            <li><a href="./cart">장바구니</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a href="/like"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
          </ul>
          <div class="header__top__right__auth">
            <a href="/login"><i class="fa fa-user"></i> Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All Category</span>
            <span class="fa fa-caret-down"></span>
          </div>
          <ul>
            <li><a href="#">Fresh Meat</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>
            <li><a href="#">Fresh Bananas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                검색
                <span class="fa fa-angle-down"></span>
              </div>
              <input type="text" placeholder="검색어를 입력해주세요.">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
            <ul id="categoriesList" style="display: none;">
              <li><a href="#">전체</a></li>
              <li><a href="#">상품명</a></li>
            </ul>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-hashtag"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>1:1 문의</h5>
              <span>support@a.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

</body>
</html>